/* Basic CSS Required for tags*/
body {
  font-family: 'Saira Extra Condensed',serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}
a 
{
  color: #BD5D38;
}
a:hover, a:focus, a:active 
{
  color: #824027;
}
li{
    list-style: none;
}
/* Used for displaying subheading under main title of content*/
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}
/* Classes Needed for Navigation Bar (Menus)*/
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.bg-primary 
{
  background-color: #BD5D38 !important;
}
.text-primary 
{
  color: #BD5D38 !important;
}
.mb-auto, .my-auto 
{
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/* Classes for Word Cloud */
.tagcloud
{
/*    height:300px;*/
}
.tag-1
{
    font-size: 14px; 
    color: maroon;
    font-weight: bold;
}
.tag-2
{
    font-size: 16px; 
    color: #FF5733;
}
.tag-3
{
    font-size: 18px; 
    color: #7BFF33;
    font-style: italic;: 
}
.tag-4
{
    font-size: 20px; 
    color: #112ACC;
    font-weight: bold;
}
.tag-5
{
    font-size: 24px; 
    color: #B611CC;
}
.tag-6
{
    font-size: 28px; 
    color: #CC1130;
}
.tag-7
{
    font-size: 32px; 
    color: #007DEF;
}
.tag-8
{
    font-size: 36px; 
    color: #CACC11;
    font-weight: bold;
}
/* End Word Cloud */
.posted 
{
    color: #4D5656;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

/* For displaying user images in the thread */
.image-user
{
    padding-left: 4px;
    padding-right: 4px;
}

/* Important part to make modal scrollable in case of increased data */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 372px;
    overflow-y: auto;
}